<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.finalproject.farm.app.myPage.service.impl.OrderMapper">

<!-- 전체조회 -->
	<select id="getOrderList" resultType="OrderVO">
	
		SELECT *
		FROM ORDERS
	
	</select>

<!-- 단건조회 -->	
	<select id="getOrder" parameterType="OrderVO"
							resultType="OrderVO">
		
		SELECT *
		FROM ORDERS
		WHERE ORDER_NO = #{order_no}
					
					
	</select>
	
<!-- 등록 -->	
	<insert id="insertOrder"  parameterType="OrderVO">
	<selectKey resultType="String" keyProperty="order_no" order="BEFORE">
		select TO_NUMBER(TO_CHAR(sysdate,'YYYYMMDDHH24MI')||nvl(TO_CHAR(max(substr(order_no,7))),'00'))+1
                    from orders
	
	</selectKey>
		
		INSERT INTO ORDERS
					VALUES (
							#{order_no}
							,sysdate
							,#{order_condition}
							,#{order_invoice}
							,#{order_totalprice}
							,#{order_zip}
							,#{order_adr}
							,#{order_detailadr}
							,#{order_name}
							,#{order_phone}
							,#{order_payment}
							,#{user_id}
							)
	</insert>
	
<!-- 수정 -->
	<update id="updateOrder"  parameterType="OrderVO">
			
			UPDATE ORDERS 
						SET
						order_condition = #{order_condition}
						,order_invoice = #{order_invoice}
			WHERE order_no = #{order_no}
	</update>
	
<!-- 삭제 -->
	<delete id="deleteOrder"  parameterType="OrderVO">
		DELETE FROM ORDERS
		WHERE order_no = #{order_no}
	
	</delete>
	
<!-- /////상세 주문///////-->
<select id="getOrderView" parameterType="OrderListVO"
							resultType="OrderListVO">
	
		SELECT O.ORDER_NO
        ,O.PRO_NO
        ,O.ORDERLIST_PRO_NAME
        ,O.ORDERLIST_PRO_COUNT
        ,O.ORDERLIST_PRO_PRICE
        ,P.PRO_NO
        ,P.PRO_NAME
        ,P.PRO_PRICE
        ,P.PRO_DCOMPANY
        ,P.PRO_DCOST
		FROM PRODUCT P JOIN ORDERLIST O
		ON( P.PRO_NO = O.PRO_NO )
		WHERE O.ORDER_NO=${order_no}
		
</select>

<!-- 판매내역 조회-->
<select id="getSaleList" parameterType="OrderListVO"
						resultType="OrderListVO">
						
		SELECT L.ORDER_NO             
               ,L.ORDERLIST_PRO_NAME
               ,L.ORDERLIST_PRO_COUNT
               ,L.ORDERLIST_PRO_PRICE
        FROM PRODUCT P JOIN ORDERLIST L
        ON (P.PRO_NO = L.PRO_NO)
        WHERE P.USER_ID = #{user_id}
        
</select>
</mapper>